& when (@media-common = true) {
    // Product title
    .base {
        font: normal normal 600 32px/43px Open Sans;
        letter-spacing: 0px;
        color: #333333;
    }

    // "x Reviews" text
    .action.view {
        text-decoration: underline;
        font: normal normal normal 12px/17px Open Sans;
        letter-spacing: 0px;
        color: #FF5501;
    }

    // "Add Your Review" text
    .action.add {
        font: normal normal 600 12px/17px Open Sans;
        letter-spacing: 0px;
        color: #333333;

        border: 1px solid #333333;
        border-radius: 2px;
        padding: 6px 10px 5px 10px;
    }

    // Price text
    .price{
        font: normal normal 600 32px/43px Open Sans;
        letter-spacing: 0px;
        color: #575757;
    }

    // Dic container that contains quantity selection
    .control {
        display: flex;
    }

    // Quantity buttons for Add To Cart:
    .add-decrease-buttons {
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        background-position: center;

        height: 52px;
        width: 52px;

        border: 1px solid #C2C2C2;
        border-radius: 0px 2px 2px 0px;
    }

    .add-button {
        background-image: url('Magento_Catalog::images/Plus-sign-add.svg');

    }

    .decrease-button {
        background-image: url('Magento_Catalog::images/Minus-sign-decrease.svg');

    }

    // Field with quantity number
    .control .input-text.qty {
        border: 1px solid #C2C2C2;
        margin-left: 0px;
        margin-right: 0px;

        width: 86px;
        height: 52px;
    }

    // Add To Cart button
    .action.primary.tocart {
        border: none;
        border-radius: 2px;
        background-color: #FF5501;
    }

    .additional-attributes-wrapper {
        background-color: #F9F9F9;
    }

    .product-info-main .product-info-price {
        display: flex;
        justify-content: flex-start;

        border: none;
    }

    .products.list.items.product-items {
        border-top: 1px solid #C2C2C2;
    }

    #product-item_13 > div {
        display: flex;
    }

    #block-related-heading {
        font: normal normal 600 24px/33px Open Sans;
        letter-spacing: 0px;
        color: #333333;
    }

    /*
    .bullet-row:before {
        content: "\2022"; /* Bullet point character
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        vertical-align: bottom;
    }
    */
    .additional-attributes-wrapper {
        padding: 20px;
    }

    .product-item-page-link {
        background: #333333 0% 0% no-repeat padding-box;
        border-radius: 2px;
        padding: 7px 10px 7px 10px;

        font: normal normal 600 14px/19px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
}


