
// Design that will be common through out all other styles
& when (@media-common = true) {

    //#page-wrap-test {

        // Main product title margin
        .page-title-wrapper.product .page-title {
            margin-bottom: 5px;
        }

        // Product title
        .base {
            font: normal normal 600 32px/43px Open Sans;
            letter-spacing: 0px;
            color: #333333;
        }

        // "x Reviews" text
        .action.view {
            text-decoration: underline;
            font: normal normal normal 12px/17px Open Sans;
            letter-spacing: 0px;
            color: #FF5501;
        }

        // "Add Your Review" text
        .action.add {
            font: normal normal 600 12px/17px Open Sans;
            letter-spacing: 0px;
            color: #333333;

            border: 1px solid #333333;
            border-radius: 2px;
            padding: 6px 10px 5px 10px;
        }

        // Container that contains price and SKU text
        .product-info-main .product-info-price {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            border: none;
            margin-bottom: 6px;
        }

        .price-box.price-final_price {
            padding-bottom: 0px;
        }

        // Div with review stars, review count and "add review" button (Also applies to all rating-summaries on the page)
        div.product-reviews-summary {
            margin-bottom: 28px;
            display: flex;
            align-items: center;
        }

        // Right margin for review count text
        .product-info-main .product-reviews-summary .reviews-actions a.action.view {
            margin-right: 22px;
        }

        // Margin between main product review stars and review count
        .product-info-main .rating-summary {
            margin-right: 8px;
        }

        // SKU text padding
        .product-info-main div.product-info-stock-sku {
            padding-left: 2.6%;
        }

        // Price text for main item on page
        div.product-info-main >
        div.product-info-price >
        div.price-box.price-final_price >
        span.price-container.price-final_price.tax.weee >
        span.price-wrapper span.price {
            font: normal normal 600 32px/28px Open Sans;
            letter-spacing: 0px;
            color: #575757;
        }

        // Additional attributes box
        .additional-attributes-wrapper {
            padding: 21px 20px 15px 13px;
            margin-bottom: 0px;
            background-color: #F9F9F9;
        }

        // Bullet list point symbol in front of Attributes
        .bullet:before {
            content: "\2022";
            margin-right: 5px;
        }

        // Additional attribute items from table
        .col.data.bullet {
            padding: 0px 5px 9px 5px;
        }

        // Additional attribute short description
        #short-description {
            font: normal normal normal 12px/12px Open Sans;
            letter-spacing: 0px;
            color: #333333;
        }

        // Div containing quantity changing buttons and "add to cart" button
        .box-tocart {
            margin-bottom: 25px;
        }

        // Div container that contains quantity selection
        .control {
            display: flex;
            align-items: center;
        }

        // Quantity buttons for Add To Cart:
        .add-decrease-buttons {
            background-color: #FFFFFF;
            background-repeat: no-repeat;
            background-position: center;

            height: 52px;
            width: 52px;

            border: 1px solid #C2C2C2;
            border-radius: 0px 2px 2px 0px;
        }

        .add-button {
            background-image: url('Magento_Catalog::images/Plus-sign-add.svg');
        }

        .decrease-button {
            background-image: url('Magento_Catalog::images/Minus-sign-decrease.svg');
        }

        //

        // Field with quantity number
        .control .input-text.qty {
            border: 1px solid #C2C2C2;
            margin-left: 0px;
            margin-right: 0px;

            width: 86px;
            height: 52px;
        }

        // Stock state checkmark image
        .check-image {
            width: 11px;
            height: 19px;

            background-image: url('Magento_Catalog::images/Check-mark.svg');
            background-repeat: no-repeat;
            background-position: center;

            margin-left: 20px;
            margin-right: 4px;
        }

        // Stock state text
        .stock-state-text {
            font: normal normal bold 14px/19px Open Sans;
            letter-spacing: 0px;
            color: #575757;

            margin-right: 6px;
        }

        // Available quantity text
        .quantity-count-text {
            font: normal normal normal 14px/19px Open Sans;
            letter-spacing: 0px;
            color: #333333;
        }

        // Add To Cart button (for main product of the page)
        .fieldset .actions .action.primary.tocart {
            width: 100%;
        }

        // Add To Cart buttons (all buttons)
        .action.primary.tocart {
            border: none;
            border-radius: 2px;
            background-color: #FF5501;
        }

        // UPSELL PRODUCTS

        // Upsell product container margin
        .products-upsell .products.list.items.product-items > li {
            margin-left: 0px;
        }

        // Upsell products section heading text
        #block-upsell-heading {
            font-size: 16px;
        }

        // Line beneath Upsell product heading
        div.block-title.title {
            padding-bottom: 6px;
            border-bottom: 1px solid #C2C2C2;
            margin-bottom: 0;
        }

        // Upsell block margin
        div.block.upsell >
        div.block-content.content >
        div.products.wrapper.grid.products-grid.products-upsell {
            margin-top: 6px;
        }

        div.products-upsell .products.list.items.product-items {
            margin-top: 0;
        }

        // Padding for upsell content elements
        .products.wrapper.grid.products-grid.products-upsell div.product-item-info {
            padding: 0;
        }

        // Upsell product item image margin
        .products-upsell a.product.photo.product-item-photo {
            margin-right: 20px;
        }

        // Upsell product price text
        .products-upsell .price {
            font: normal normal 600 18px/24px Open Sans;
            letter-spacing: 0px;
            color: #333333;
        }

        // Upsell product title
        .product-item-link {
            font-size: 16px;
        }

        // Margin for Upsell product title
        strong.product.name.product-item-name {
            margin-bottom: 0;
        }

        // Padding between upsell rating stars and rating count
        div.product-reviews-summary.short > .rating-summary {
            margin-right: 6px;
        }

        // Upsell product container
        div.products-upsell div.product-item-info {
            display: flex;
            flex-wrap: nowrap;
        }

        //products wrapper grid products-grid
        .products-upsell .product-reviews-summary.short {
            margin-bottom: 20px;
        }

        // Product review count number and text "ratings"
        .product-reviews-summary .reviews-actions {
            display: flex;
            white-space: nowrap;
            align-items: center;
        }

        // "View product" button in upsell products
        .action.view-product {
            background: #333333 0% 0% no-repeat padding-box;
            border-radius: 2px;
            white-space: nowrap;
            align-self: center;

            margin-left: 178%;
            padding: 6px 10px;

            font: normal normal 600 14px/19px Open Sans;
            letter-spacing: 0px;
            color: #FFFFFF;
        }

        // Padding for upsell product image placement
        .products-upsell .product-image-photo {
            padding-top: 16px;
        }

        // Removing margin 'Jumping' from upsell products
        .products-upsell .products.list.items.product-items > li > div:hover {
            margin: 0;

            border: none;
            box-shadow: none;
        }

        // RELATED PRODUCTS

        // Related products section heading
        #block-related-heading {
            font: normal normal 600 24px/33px Open Sans;
            letter-spacing: 0px;
            color: #333333;
        }

        // Padding under Related products section heading
        div.block.related div.block-title.title {
            padding-bottom: 20px;
        }

        // Distance between rating stars anr rating count in related products
        div.related-available div.product-reviews-summary.short > .rating-summary {
            margin-right: 13px;
        }

        // Related product window/box size for each product
        .product-item-info.related-available {
            width: 224px;
        }

        // Removing some default margin values for upsell and related images
        .product-image-photo {
            margin: 0;
        }

        // Margin between two related products
        .products.list.items.product-items > li {
            margin-left: 47px;
        }

        .products.list.items.product-items > li:first-child {
            margin-left: 0;
        }

        //

        // Related products product container padding
        .products.list.items.product-items > li > div {
            padding: 10px;
        }

        // Related product image container padding and margin for placement
        div.product-item-info.related-available
        span.product-image-wrapper {
            padding: 0 0 116% 0 !important;
            margin-top: 20px;
        }

        // Related product title
        .block.related .related-available .product-item-name {
            margin-left: 0px;
        }

        .block.related .product-reviews-summary {
            margin-bottom: 0;
        }

        // Price on related products
        .products-related .price-container .price {
            font: normal normal bold 22px/30px Open Sans;
            letter-spacing: 0px;
            color: #333333;
        }

        // Related product "Add to Cart" button
        .product.actions.product-item-actions .actions-primary {
            width: 100%;
        }

        .actions-primary form .action.tocart.primary {
            width: 100%;

            font: normal normal 600 18px/24px Open Sans;
            letter-spacing: 0px;
            color: #FFFFFF;

            display: none;
        }

        //

        // Removing margin 'Jumping' from related products
        .block.related .products.list.items.product-items > li > div:hover {
            margin: 0;
        }

        // "Add to Cart" button for related products while hovering
        .block.related .products.list.items.product-items > li > div:hover
        .actions-primary form .action.tocart.primary {
            display: block;
        }

    //}
}

// Design for mobile phones with max width: 620 px;
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    //#page-wrap-test {

        // Product price
        .price {
            font-size: 32px;
        }

        // Product rating stars and reviews
        .product-reviews-summary {
            margin-bottom: 25px;
        }

        // Additional attributes (information about the product)
        .additional-attributes-wrapper {
            border: none;
        }

        // "View product" button for upsell product
        button.action.view-product {
            white-space: normal;
            margin-left: 38px;
            height: auto;
        }

        // Related product list items
        .products-related .products.list.items.product-items > li {
            margin-left: 100px;
        }

        // "View product" button correct placement
        .products-upsell div.product-item-info > *:not(:last-child) {
            flex: 1;
        }
    //}

}

// Design for tablets
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //#page-wrap-test {

        // Margin for upsell product "View Product" button
        button.action.view-product {
            margin-left: 227%;
        }

        // Showing the hidden "Add to Cart" buttons for related products
        .actions-primary form button.action.tocart.primary {
            display: block;
        }

        // Related product placement
        .products-related .products.list.items.product-items > li:nth-child(odd) {
            margin-left: 100px;
        }
    //}
}

// Design for Computer screens
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    //#page-wrap-test {

        // Main content column width changes
        div.columns >
        div.column.main > div.product.media {
            width: 52%;
        }

        div.columns >
        div.column.main > div.product-info-main {
            width: 45%;
        }

        // Main content div margins so that the related products block is placed correctly
        div.product-info-main {
            margin-bottom: 156px;
        }

        div.product.media {
            margin-bottom: 81px;
        }

        //
    //}
}

